.card,
.card-body {
  border-radius: 16px;
  background-color: #1e2329;
  color: #eaecef;
  font-size: 14px;
  font-weight: 500;
}

.icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-pos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change {
  border-radius: 5px;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 12px;
}

.negative {
  background-color: #3a2434;
  color: #c74242;
}

.positive {
  background-color: #1c3238;
  color: #0ec56b;
}

.negative-percent {
  color: #f6465d;
}

.positive-percent {
  color: #2ebd85;
}

.no-favorite {
  height: 450px;
}

.no-favorite-mobile {
  height: 250px;
}

.table-container {
  height: 405px;
  overflow-y: auto;
  overflow-x: auto;
}

.table-container-mobile {
  height: 205px;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: auto;
}

.coin-row {
  padding: 8px 6px;
}

.info-row {
  padding: 12px 6px;
  margin-left: 60px;
}

.activity-container {
  height: 490px;
  overflow-y: auto;
  overflow-x: auto;
}

.activity-container-mobile {
  height: 280px;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: auto;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-11 {
  font-size: 11px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: #1e2329;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #1e2329;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
