.card,
.card-body {
  border-radius: 16px;
  background-color: #1e2329;
  color: #eaecef;
  font-size: 14px;
}

.icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.change {
  border-radius: 5px;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 12px;
}

.negative {
  background-color: #3a2434;
  color: #c74242;
}
.positive {
  background-color: #1c3238;
  color: #0ec56b;
  
}

.table-container {
  height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  font-weight: 500;
}

.table-container-mobile {
  height: 250px;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: auto;
  font-weight: 500;
}

.activity-container {
  height: 480px;
  overflow-y: auto;
  overflow-x: auto;
  font-weight: 500;
}

.activity-container-mobile {
  height: 280px;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: auto;
  font-weight: 500;
}

.form-control {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: #1e2329;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #1e2329;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
