@import 'tailwindcss';
@custom-variant hover (&:hover);
:root {
  background: #181a20;
  font-family:
    'Fustat',
    -apple-system,
    'Segoe UI',
    'Roboto',
    sans-serif;
}

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --spacing: 1px;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-65: rgba(255, 255, 255, 0.65);
  --color-white1: #eaecef;
  --color-grey1: #6c757d;
  --color-black1: #1e2329;
  --color-red1: #c74242;
  --color-red2: #3a2434;
  --color-red3: #f6465d;
  --color-gold: #ffd700;
  --color-green1: #0ec56b;
  --color-green2: #1c3238;
  --color-green3: #2ebd85;
  --color-border-grey: #495057;
}

button {
  cursor: pointer;
}

:focus-visible {
  @apply outline-blue-500 outline;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: #1e2329;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #1e2329;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
